<div class="main-header">
    <a class="menu-link-main" href="#">All Apps</a>
</div>

<div class="content-wrapper">

    <!-- Banner section -->
    <div class="content-wrapper-header">
        <app-banner></app-banner>
    </div>

    <!-- table section -->
    <app-table></app-table>

    <!-- card section -->
    <div class="content-section">
        <div class="content-section-title">Apps in your plan</div>
    </div>

    <mat-card>
        <!-- card 1 -->
        <app-card
            icon="image1"
            text="Premiere Pro"
            content="Edit, master and create fully proffesional videos">
        </app-card>

        <!-- card 2 -->
        <app-card
            icon="image2"
            text="InDesign"
            content="Design and publish great projects & mockups">
        </app-card>

        <!-- card 3 -->
        <app-card
            icon="image3"
            text="Adobe XD"
            content=" Powerful & easy-to-use vector based design platform">
        </app-card>

        <!-- card 3 -->
        <app-card
            icon="image4"
            text="Adobe Lightroom"
            content="Edit, master and create fully proffesional images">
        </app-card>
    </mat-card>

</div>