<div class="video-bg">
    <video width="320" height="240" autoplay loop muted>
        <source src="https://assets.codepen.io/3364143/7btrrd.mp4"
            type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<!-- Sidenav Section -->
<mat-drawer-container class="example-container">

    <mat-drawer mode="side" [opened]="sideBarOpened">

        <!-- Sidenav -->
        <app-side-bar></app-side-bar>

    </mat-drawer>

    <mat-drawer-content>

        <!-- Header Section -->
        <app-header (onMenuBtnClick)="toggle()"></app-header>

        <!-- user requested pages -->
        <router-outlet></router-outlet>

    </mat-drawer-content>

</mat-drawer-container>