.main-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 58px;
    flex-shrink: 0;

    .menu-link-main {
        text-decoration: none;
        color: var(--theme-color);
        padding: 0 30px;

        @media screen and (max-width: 1055px) {
            display: none;
        }
    }
}
